@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Finlandica+Headline:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --bg-dark: oklch(0.92 0 20);
    --bg: oklch(0.96 0 20);
    --bg-light: oklch(1 0 20);
    --text: oklch(0.15 0 20);
    --text-muted: oklch(0.4 0 20);
    --border-highlight: oklch(1 0 20);
    --border: oklch(0.6 0 20);
    --border-muted: oklch(0.7 0 20);
    --primary: oklch(0.4 0.1 20);
    --secondary: oklch(0.4 0.1 200);
}   

body{
    /* background: linear-gradient(var(--text), var(--text-muted)); */
    background: rgba(0, 0, 0, 0.942);

}

.header {
    /* background-color: var(--text);  */
    /* aspect-ratio: 900/600; */
    min-width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/wave-haikei.svg');
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
    /* padding-bottom: 3rem;  */
    color: white;
}

.textLimit{
    /* width: clamp(200px, 50%, 600px); */
    width: 90%;
}

.container img {
  width: 100%;
  height: clamp(200px,50vh,500px);
  height: clamp(200px,50dvh,500px);
  object-fit: contain;
  display: block;
  /* border: 2px solid blue; */
}

.container{
    width: 90%;
    max-height: 50vh;
    max-height: 50dvh;
    height: auto;
}

@media (min-width: 640px) {
  .textLimit{
    width: clamp(200px, 50%, 600px);
  }
}

@media (min-width: 640px){
    .container{
    width: clamp(200px, 50%, 600px);
    height: clamp(200px,50vh,500px);
    }
}
.bounce {
    height: 30%;
    background: transparent;
    overflow: hidden;
    transition: all 200ms linear;
    color: black;
}

.bounce:hover {
    transform: translateY(-2.5px);
    /* color: orange; */
}


.card{
    background: var(--bg-dark);
     border-left: var(--border) 2px solid;
}

.defaultMobile{
    display:flex;
    flex-direction:column;
    flex:1;
    justify-content:center;
    align-items:stretch;
}

@media (min-width: 640px) {
  .defaultMobile {
    flex-direction:row;
  }
}

/* .primaryButton {
    display: block;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    user-select:none;
    background:
    linear-gradient(
        to bottom right,
        #2e8eff 0%,
        rgba(46, 142, 255, 0) 30%
    );

    color: white;
    transition: all 300ms ease;
    width:fit-content;
    margin-bottom: 2rem;
    position: relative;
}


primaryButton::after{
    content: "Upload File";
}
.primaryButton:hover {
  background-color: rgba(46, 142, 255, 0.7);
  box-shadow: 0 0 10px rgba(46, 142, 255, 0.5);
  outline: none;
} */

.avatar {
  width: 24px;
  height: 24px;
  background: transparent;
  color: black;
  fill: currentColor;
}

/* a:hover .avatar {
  color: white;
} */

:root{
    --eye-size: 10px;
}


@property --rotation-angle{
    syntax: "<angle>";
    initial-value: 45deg;
    inherits: true;
}

.wrapper{
    position: relative;
}


.wrapper::after{
    content: "";
    background: black;
    border-radius: 50%;
    top: 21%;
    right: 54%;
    height: var(--eye-size);
    width: var(--eye-size);
    position: absolute;
    transform-origin: bottom left;
    transform: rotate(var(--rotation-angle));

}

.wrapper::before{
    content: "";
    background: black;
    border-radius: 50%;
    top: 20%;
    right: 10%;
    height: var(--eye-size);
    width: var(--eye-size);
    position: absolute;
    z-index: 2;
    transform-origin: bottom left;
    transform: rotate(var(--rotation-angle));
}

.derp{
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    position:fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}

.squirtle{
    width: 100px;
    height: 100px;
    display:block;
    position: relative;
}

.heading{
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-top: -2rem;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: "Roboto Condensed"
}

.hero{
    display: flex;
    flex-direction:column;
    /* gap: 0.5rem; */
    /* justify-content:space-evenly; */
    justify-content:center;
    align-items:center;
    gap: 1rem;
    /* flex:1;   */
}


.uploadSpan{
  background: black;
  padding: 0.5rem;
  display: block;
  border-radius: 0.5rem;
  color: white;
  user-select: none;
}

.primaryButton{
  width: fit-content;
  border-radius: 0.5rem;
  background-color: black;
  position: relative;
/*   border: solid 2px yellow; */
  z-index: 0;

}

.primaryButton::before{
  content: "";
/*   border: solid 2px red; */
  border-radius: 0.5rem;
  background: linear-gradient(
    to bottom right,
    #2e8eff 0%,
    rgba(46, 142, 255, 0) 30%
  );
  background-color: rgba(46, 142, 255, 0.2);
  position: absolute;
  inset: -0.1rem;
  z-index: -1; 
  transition: all 300ms ease;
}

.primaryButton:hover::before{
  background-color: rgba(46, 142, 255, 0.7);
/*   box-shadow: 0 0 10px rgba(46, 142, 255, 0.5); */
  box-shadow: 0 0 18px 4px rgba(46, 142, 255, 0.5);
}

.modal{
  position:fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: black dashed 3px; */
  width: fit-content;
  padding: 2rem;
  border-radius: 5px;
}